<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.8"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.archimatetool.xmlexchange.XMLExchangeExportProvider"
            id="com.archimatetool.exchange.exportHandler"
            label="Model To XML Exchange Format...">
      </exportHandler>
   </extension>
   <extension
         point="com.archimatetool.editor.importHandler">
      <importHandler
            class="com.archimatetool.xmlexchange.XMLExchangeImportProvider"
            id="com.archimatetool.exchange.importHandler"
            label="XML Exchange Model...">
      </importHandler>
   </extension>

</plugin>
